.flex-item {
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: center;
    background-color: #77e4e5;
    border-radius: 5px;
    margin-bottom: 5px;
}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-item {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.translation-container {
    height: 100%;
    overflow: auto;
}
.flex-inner-heading {
    flex-basis: 10%;
}
.flex-inner {
    flex-basis: 45%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
